@page "/addDevice"
<h3>AddDevice</h3>

<RadzenNotification />

<EditForm Model="FormAddDevice" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <RadzenLabel Text="Nom" Component="Name" />
        <RadzenTextBox @bind-Value="FormAddDevice.Name" Style="width: 100%;" Placeholder="Enter device name" />
    </div>

    <div class="mb-3">
        <RadzenLabel Text="Type" Component="Type" />
        <RadzenTextBox @bind-Value="FormAddDevice.Type" Style="width: 100%;" Placeholder="Enter device type" />
    </div>

    <div class="mb-3">
        <RadzenLabel Text="Localisation" Component="Location" />
        <RadzenTextBox @bind-Value="FormAddDevice.Location" Style="width: 100%;" Placeholder="Enter device location" />
    </div>

    <RadzenButton Text="Valider" Icon="save" ButtonStyle="ButtonStyle.Success"
                  Click="OnSubmit" Style="margin-top: 20px;" />

    <ValidationSummary />
</EditForm>
