@page "/dashboard"
@using Blazor_Domobert.Pages.Widget
@using Blazor_Domobert.Models

<PageTitle>Dashboard</PageTitle>


<RadzenSidebar @ref="sidebar" Position="SidebarPosition.Left" Width="300px" Style="background-color: #f4f4f4; color: black">
    <ChildContent>
    <RadzenButton Icon="close" Text="Close" Click="ToggleSidebar" ButtonStyle="ButtonStyle.Dark" />
        <div class="rz-p-12">
            <h4>Widgets</h4>
            <RadzenCheckBoxList Data="@devices"
                                @bind-Value="@selectedDeviceIds"
                                TValue="int"
                                TextProperty="Name"
                                ValueProperty="Id"
                                Change="ToggleDeviceVisibility" />
        </div>
    </ChildContent>
</RadzenSidebar>

<RadzenButton Icon="Menu" Text="Menu" Click="ToggleSidebar" />


<h3>Dynamic Dashboard</h3>

@if (devices is null)
{
    <RadzenProgressBar Mode = "ProgressBarMode.Indeterminate" Style = "width: 100%;" />
}
else
{
    <div class="DashboardGrid">
    @foreach (var device in devices)
        {
            @switch (device.TypeCode)
            {
                case eDeviceType.LIGHT:
                    <Light Device="device" />
                    break;
                case eDeviceType.HEATER:
                    <Heater Device="device" />
                    break;
                case eDeviceType.TEMP_HUMI:
                    <TemperatureSensor Device="device" />
                    break;
                case eDeviceType.SOLAR:
                    <Solar Device="device" />
                    break;
                case eDeviceType.CAMERA:
                    <Camera Device="device" />
                    break;
                default:
                    break;
            }
        }
    </div>
}


