.DashboardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonnes flexibles */
    grid-gap: 10px; /* Espacement entre les widgets */
}

.widget-light {
    grid-column: span 1;
    grid-row: span 1;
}

.widget-heater {
    grid-column: span 1;
    grid-row: span 1;
}

.widget-temp-humi {
    grid-column: span 3; /* Plus large pour accueillir le graphique */
    grid-row: span 2; /* Plus haut pour le graphique */
}

.widget-solar {
    grid-column: span 3; /* Plus large pour les graphiques des panneaux solaires */
    grid-row: span 2; /* S'étend sur 2 lignes */
}

.widget-camera {
    grid-column: span 3;
    grid-row: span 2;
}
