.sidebar[b-ba9zz5iy85] {
    width: 250px;
    min-height: 100vh;
}

.main-content[b-ba9zz5iy85] {
    min-height: 100vh;
}

.bg-dark[b-ba9zz5iy85] {
    background-color: #343a40 !important;
}

.text-white[b-ba9zz5iy85] {
    color: white !important;
}
