@inject NotificationService NotificationService

<RadzenCard class="widget-temp-humi" Visible="Device.IsVisible">
    <h4>@Device.Name</h4>
    <RadzenCard>
        <h3>Valeurs actuelles</h3>
        @if (currentData != null)
        {
            <p>Température actuelle : @currentData.temperature°C</p>
            <p>Humidité actuelle : @currentData.humidity%</p>
        }
        else
        {
            <RadzenProgressBar Value = "100" ShowValue = "false" Mode = "ProgressBarMode.Indeterminate" />
            <p>Loading</p>
        }
    </RadzenCard>

    <RadzenChart Style="height: 400px;">
        <RadzenLineSeries Data="historyData" CategoryProperty="Timestamp" ValueProperty="Temperature" Title="Température" />
        <RadzenLineSeries Data="historyData" CategoryProperty="Timestamp" ValueProperty="Humidity" Title="Humidité" />
</RadzenChart>
</RadzenCard>
