@using Radzen.Blazor

<div class="sidebar bg-opacity-25">
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
        <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="dashboard" />
        <RadzenPanelMenuItem Text="New device" Icon="add" Path="addDevice" />
    </RadzenPanelMenu>
</div>